 #tridiv {
  perspective: 800px;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: transparent;
  font-size: 75%;
}
.face {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
}
.scene, .shape, .face, .face-wrapper, .cr {
  position: absolute;
  transform-style: preserve-3d;
}
.scene {
  width: 80em;
  height: 80em;
  top: 50%;
  left: 50%;
  margin: -40em 0 0 -40em;
}
.shape {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform-origin: 50%;
}
.face, .face-wrapper {
  overflow: hidden;
  transform-origin: 0 0;
  backface-visibility: hidden;
  /* hidden by default, prevent blinking and other weird rendering glitchs */
}
.face {
  background-size: 100% 100%!important;
  background-position: center;
}
.face-wrapper .face {
  left: 100%;
  width: 100%;
  height: 100%
}
.photon-shader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}
.side {
  left: 50%;
}
.cr, .cr .side {
  height: 100%;
}
[class*="cuboid"] .ft, [class*="cuboid"] .bk {
  width: 100%;
  height: 100%;
}
[class*="cuboid"] .bk {
  left: 100%;
}
[class*="cuboid"] .rt {
  transform: rotateY(-90deg) translateX(-50%);
}
[class*="cuboid"] .lt {
  transform: rotateY(90deg) translateX(-50%);
}
[class*="cuboid"] .tp {
  transform: rotateX(90deg) translateY(-50%);
}
[class*="cuboid"] .bm {
  transform: rotateX(-90deg) translateY(-50%);
}
[class*="cuboid"] .lt {
  left: 100%;
}
[class*="cuboid"] .bm {
  top: 100%;
}
/* .cub-2 styles */
.cub-2 {
  transform:translate3D(26em, -18em, 4em) rotateX(0deg) rotateY(-152.8deg) rotateZ(-180deg);
  opacity:1;
  width:6em;
  height:14em;
  margin:-7em 0 0 -3em;
}
.cub-2 .ft {
  transform:translateZ(1em);
}
.cub-2 .bk {
  transform:translateZ(-1em) rotateY(180deg);
}
.cub-2 .rt, .cub-2 .lt {
  width:2em;
  height:14em;
}
.cub-2 .tp, .cub-2 .bm {
  width:6em;
  height:2em;
}
.cub-2 .face {
  background-color:#333333;
}
.cub-2 .ft {
  width:6em;
  margin-left:0em;
}
.cub-2 .bk {
  width:6em;
  margin-left:0em;
}
.cub-2 .rt, .cub-2 .lt {
  width:2em;
}
.cub-2 .tp, .cub-2 .bm, .cub-2 .tp .photon-shader, .cub-2 .bm .photon-shader {
  border-radius:0em;
}
.cub-2 .cr {
  width:0em;
  left:0em;
}
.cub-2 .cr-0 {
  transform: translate3D(6em, 0, 1em);
}
.cub-2 .cr-1 {
  transform: translate3D(6em, 0, -1em);
}
.cub-2 .cr-2 {
  transform: translate3D(0, 0, -1em);
}
.cub-2 .cr-3 {
  transform: translate3D(0, 0, 1em);
}
.cub-2 .cr-0 .s0 {
  transform: rotateY(15deg) translate3D(-50%, 0, -0.025em);
}
.cub-2 .cr-0 .s1 {
  transform: rotateY(45deg) translate3D(-50%, 0, -0.025em);
}
.cub-2 .cr-0 .s2 {
  transform: rotateY(75deg) translate3D(-50%, 0, -0.025em);
}
.cub-2 .cr-1 .s0 {
  transform: rotateY(105deg) translate3D(-50%, 0, -0.025em);
}
.cub-2 .cr-1 .s1 {
  transform: rotateY(135deg) translate3D(-50%, 0, -0.025em);
}
.cub-2 .cr-1 .s2 {
  transform: rotateY(165deg) translate3D(-50%, 0, -0.025em);
}
.cub-2 .cr-2 .s0 {
  transform: rotateY(195deg) translate3D(-50%, 0, -0.025em);
}
.cub-2 .cr-2 .s1 {
  transform: rotateY(225deg) translate3D(-50%, 0, -0.025em);
}
.cub-2 .cr-2 .s2 {
  transform: rotateY(255deg) translate3D(-50%, 0, -0.025em);
}
.cub-2 .cr-3 .s0 {
  transform: rotateY(285deg) translate3D(-50%, 0, -0.025em);
}
.cub-2 .cr-3 .s1 {
  transform: rotateY(315deg) translate3D(-50%, 0, -0.025em);
}
.cub-2 .cr-3 .s2 {
  transform: rotateY(345deg) translate3D(-50%, 0, -0.025em);
}
.cub-2 .side {
  width:0.025em;
}

body {
	background: url(../images/earth.jpg) no-repeat center center fixed;
	background-size: cover;
	overflow: hidden;
	color: white;
}

#answer {
	color: white;
	font-weight: bold;
	font-size: 32px;
}